.header {
  background-color: #10044a;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1 {
  color: white;
  font-size: 30px;
}

.header img {
  height: 80px;
}
